/* Custom Properties */
:root {
    /* Colours */
    --clr-dark-blue: #1F2831;
    --clr-light-blue: #6A98A5;
    --clr-yellow: #F6CC80;
    --clr-light-grey: #F6F0F0;

    /* Font family */
    --font-family-primary: font-family: 'Lora', serif;
    --font-family-secondary: font-family: 'Quattrocento', serif;

    --font-family-heading: var(--font-family-primary);
    --font-family-body: var(--font-family-secondary);

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Desktop font sizes */
    --font-size-xsmall: 1rem;
    --font-size-small: 1.8rem;
    --font-size-medium: 2.6rem;
    --font-size-mediumLarge: 7.5rem;
    --font-size-large: 9.5rem;
    --font-size-xlarge: 12rem;

    --font-size-mobile-xsmall: 1.5rem;
    --font-size-mobile-large: 5rem;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Quattrocento:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* --------------------------------------------------------------------------- General */
/* Hidden from visual users - available to SR */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

body {
    background: #fff;
}

.title__large {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.sub-title {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-body);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.text__xsmall {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-body);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-regular);
}

.text__xsmall--bold {
    font-weight: var(--font-weight-bold);
}

/* ------------------------------------------------------------ Navigation */
.primary-navigation {
    position: fixed;
    z-index: 9000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    margin-top: 1.5rem;
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

/* Navigation Logo */
.primary-navigation__logo {
    margin-right: 2rem;
}

/* Navigation list */
.primary-navigation__list {
    display: flex;
    padding-top: 0.75rem;
    gap: 7.25rem;
}

.primary-navigation__item {
    /* padding-inline:  calc(var(--_gap) / 2); */
    position: relative;
    letter-spacing: normal;
    transform-origin: center bottom;
    height: var(--font-size-small);
    display: inline-block;
    overflow: hidden;
    color: var(--clr-dark-blue);

    /* transition: 
        letter-spacing 500ms cubic-bezier(.37,0,.45,.99); */
}

.active {
    color: var(--clr-light-blue);
}

/* Navigation List__item rotate hover effect */
.primary-navigation__item:hover .letter,
.primary-navigation__item.play .letter {
    transform: translateY(-100%);
}

.primary-navigation__item .block:last-child {
    color: var(--clr-yellow)
}

.primary-navigation__item .letter {
    display: inline-block;
    transition:
        transform 500ms cubic-bezier(.37, 0, .45, .99);
}

.letter:nth-child(1) {
    transition-delay: 0ms;
}

.letter:nth-child(2) {
    transition-delay: 25ms;
}

.letter:nth-child(3) {
    transition-delay: 50ms;
}

.letter:nth-child(4) {
    transition-delay: 65ms;
}

.letter:nth-child(5) {
    transition-delay: 70ms;
}

/* Navigation Contact */
.primary-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--clr-yellow);
    width: 12em;
    height: 4em;
    border-radius: 50%;
    rotate: 5deg;

    scale: 1;
    letter-spacing: normal;
    transform-origin: bottom center;

    transition:
        scale 500ms cubic-bezier(.37, 0, .45, .99),
        letter-spacing 500ms cubic-bezier(.37, 0, .45, .99);
}

.button__text {
    rotate: -5deg;
}

.primary-navigation__button:hover {
    scale: 1.1;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.mobile-navigation__list {
    display: none;
}

.mobile-navigation__logo {
    display: none;
}

.mobile-nav-toggle {
    display: none;
}

/* --------------------------------------------------------------------------- Hero Section */
.hero {
    position: relative;
    height: 92vh;
    padding-top: 5rem;
}

.hero__title__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    bottom: 22.3rem;
    height: 14rem;
    width: 100%;
    padding-right: 10.4rem;
    z-index: 2;
}

.hero__name__wrapper {
    position: absolute;
    bottom: 20rem;
    z-index: 4;
    width: 100%;
    padding: 0 8rem;
}

/* Hero Section Image */
.hero__profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8rem;
    z-index: 1;
}

.hero__profile-img > img {
    filter: opacity(0.9);
    transform-origin: 0 100%;
    height: 40rem;
    transition: height 1s cubic-bezier(.37, 0, .45, .99);
}

.hero__profile-img > img:hover {
    height: 41rem;
}

/* .hero__yellow-square {
    position: absolute;
    bottom: 20.5rem;
    rotate: -5deg;
    border: 5px solid var(--clr-yellow);
    width: 26rem;
    height: 40rem;
    transition: rotate 1s cubic-bezier(.37, 0, .45, .99);
    z-index: 2;
}

.hero__yellow-square:hover {
    rotate: 5deg;
} */

/* Hero Section Titles */
.hero__title {
    line-height: 7rem;
    mix-blend-mode: difference;
}

.hero__designer {
    letter-spacing: -0.2rem;
    padding-left: 6.6rem;
}

.hero__name {
    line-height: 7rem;
    text-align: end;
}

.hero__name--small {
    display: none;
}

.hero__name--full {
    display: block;
}

/* ------------------------------------------------------------ Work */
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-blue);
    padding: 8rem 8rem;
}

.work__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 93%
}

.work__grid__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 1rem;
    background-color: var(--clr-light-grey);
    width: 35rem;
    aspect-ratio: 1;
}

/* .work__grid__box--start {
    justify-self: end;
}

.work__grid__box--end {
    justify-self: start;
} */

.work__title {
    position: absolute;
    rotate: -90deg;
    left: -0.5rem;
}

.work__grid__number {
    position: absolute;
    top: -5.5rem;
    right: 1rem;
    color: var(--clr-dark-blue);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}


.work__grid__text {
    padding-left: 1rem;
}

/* ------------------------------------------------------------ About me */
.about-me {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.about-me__title__wrapper {
    position: relative;
}

.about-me__title {
    z-index: 2;
}

.about-me__line {
    position: absolute;
    z-index: -1;
    border-bottom: 5px solid var(--clr-yellow);
    width: 70rem;
    left: -10rem;
    top: 7rem;
}

.about-me__text {
    width: 90rem;
    margin: 0 auto;
    padding: 4rem 0;
}

/* .about-me__grid {
    display: grid;
    grid-template-areas: 
        "header header"
        "main main";
    gap: 1rem;
    align-items: start;
    width: 90rem;
    margin: 0 auto;
    padding-top: 4rem;
} */

.about-me__flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 90rem;
    margin: 0 auto;
}

.about-me__flex {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.about-me__details__grid {
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
}

.about-me__grid__title--1 {
    grid-area: header;
}

.about-me__grid__title--2 {
    grid-area: header;
    grid-column: 2 / 4;
}

.span-2__column {
    grid-column: 2 / 4;
}

/* ------------------------------------------------------------ News */
.news {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light-blue);
    border-bottom: 5px solid var(--clr-yellow);
    padding: 8rem 0;
}

.news__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 8rem;
    z-index: 5;
    width: 93.6%;
}

.news__title {
    position: absolute;
    rotate: -90deg;
    left: -0.5rem;
    z-index: 1;
}

.news__image {
    background-color: var(--clr-light-grey);
    width: 35rem;
    aspect-ratio: 1;
}

.news__wrapper {
    align-self: flex-start;
}

.news__subtitle {
    color: var(--clr-light-grey);
    margin: 2rem 0;
}

.news__text {
    color: var(--clr-light-grey);
    padding-left: 2rem;
}

/* ------------------------------------------------------------ Footer */
.footer__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 8rem;
    color: var(--clr-light-grey);
    background-color: var(--clr-light-blue);
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

.footer__contact-links {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.footer__contact-links > a {
    color: var(--clr-light-grey);
}

.footer__copyright {
    align-self: self-end;
}

/* --------------------------------------------------------------------------- Media Queries */
/* XLarge screen */
@media (max-width: 1840px) {
    
}

/* Large screen */
@media (max-width: 1280px) {
    
}

/* Medium screen */
@media (max-width: 960px) {
    
}

/* Small screen */
@media (max-width: 720px) {
    
}