/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

/* Custom Properties */
:root {
    /* Colours */
    --clr-dark-blue: #1F2831;
    --clr-light-blue: #6A98A5;
    --clr-yellow: #F6CC80;
    --clr-light-grey: #F6F0F0;

    /* Font family */
    --font-family-primary: 'Lora', serif;
    --font-family-secondary: 'Plus Jakarta Sans', sans-serif;

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Desktop font sizes */
    --font-size-xsmall: 1.2rem;
    --font-size-small: 2.1rem;
    --font-size-medium: 3.5rem;
    --font-size-mediumLarge: 6.2rem;
    --font-size-large: 9.5rem;
    --font-size-xlarge: 12rem;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* --------------------------------------------------------------------------- General */
/* Hidden from visual users - available to SR */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

body {
    /* background: #fff; */
    overflow-x: hidden;
}

.project1__links a:hover {
    color: var(--clr-yellow)
}

.title__xlarge {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.5rem;
}

.title__large {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.5rem;
}

.title__medium-large {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-mediumLarge);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.5rem;
}

.title__medium {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    letter-spacing: -0.5rem;
}

.sub-title {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.text__xsmall {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-regular);
}

.text__xsmall--bold {
    font-weight: var(--font-weight-bold);
}

/* ------------------------------------------------------------ Background */
.background__graph-paper {
    background-color: #fafafa;
    background-image:
        linear-gradient(var(--clr-dark-blue) 3px,
            transparent 0.5px),
        linear-gradient(90deg,
            var(--clr-dark-blue) 3px,
            transparent 0.5px);
    background-size: 2rem 2rem;
    background-position: center;
    z-index: -9999;
}

.diagonal-bg__vertical {
    position: relative;
    isolation: isolate;
}

.diagonal-bg__vertical::after {
    position: absolute;
    content: '';
    background-color: var(--clr-light-grey);
    transform: skewX(-0.5deg);
    inset: 0;
    z-index: -8999;
    margin: 0 3rem;
}

.diagonal-bg__horizontal {
    position: relative;
    isolation: isolate;
    z-index: -6999;
}

.diagonal-bg__horizontal::after {
    position: absolute;
    content: '';
    background-color: var(--clr-light-blue);
    transform: skewY(-2deg);
    z-index: -7999;
    inset: 0;
}

/* ------------------------------------------------------------ Navigation */
.primary-navigation {
    position: fixed;
    z-index: 9000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    margin-top: 1.5rem;
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

/* Navigation Logo */
.primary-navigation__logo {
    margin-right: 2rem;
}

/* Navigation list */
.primary-navigation__list {
    display: flex;
    padding-top: 0.75rem;
    gap: 7.25rem;
}

.primary-navigation__item {
    /* padding-inline:  calc(var(--_gap) / 2); */
    position: relative;
    letter-spacing: normal;
    transform-origin: center bottom;
    height: var(--font-size-small);
    display: inline-block;
    overflow: hidden;
    color: var(--clr-dark-blue);

    /* transition: 
        letter-spacing 500ms cubic-bezier(.37,0,.45,.99); */
}

.active {
    color: var(--clr-yellow);
}

/* Navigation List__item rotate hover effect */
.primary-navigation__item:hover .letter,
.primary-navigation__item.play .letter {
    transform: translateY(-100%);
}

.primary-navigation__item .block:last-child {
    color: var(--clr-yellow)
}

.primary-navigation__item .letter {
    display: inline-block;
    transition:
        transform 500ms cubic-bezier(.37, 0, .45, .99);
}

.letter:nth-child(1) {
    transition-delay: 0ms;
}

.letter:nth-child(2) {
    transition-delay: 25ms;
}

.letter:nth-child(3) {
    transition-delay: 50ms;
}

.letter:nth-child(4) {
    transition-delay: 65ms;
}

.letter:nth-child(5) {
    transition-delay: 70ms;
}

/* Navigation Contact */
.primary-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--clr-yellow);
    width: 12em;
    height: 4em;
    border-radius: 50%;
    rotate: 5deg;

    scale: 1;
    letter-spacing: normal;
    transform-origin: bottom center;

    transition:
        scale 500ms cubic-bezier(.37, 0, .45, .99),
        letter-spacing 500ms cubic-bezier(.37, 0, .45, .99);
}

.button__text {
    rotate: -5deg;
}

.primary-navigation__button:hover {
    scale: 1.1;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.mobile-navigation__list {
    display: none;
}

.mobile-navigation__logo {
    display: none;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation span {
    font-family: var(--font-family-secondary);
    font-weight: var(--font-weight-regular);
}

/* --------------------------------------------------------------------------- Hero Section */
.hero {
    display: flex;
    justify-content: space-between;
    height: 91svh;
    padding: 12rem 8rem 5rem 8rem;
    gap: 2rem;
}

.hero__title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 50%;
}


/* Hero Section Image */
.hero__profile-img {
    height: auto;
    width: 100%;
    object-fit: cover;
    z-index: -7999;
    transform-origin: 0 100%;
    transition: height 1s cubic-bezier(.37, 0, .45, .99);
}

/* Hero Section Titles */
.hero__designer {
    line-height: 4.3rem;
    padding-left: 4.6rem;
}

.hero__name {
    line-height: 7.2rem;
    padding-top: 4rem;
}

/* --------------------------------------------------------------------------- Hero Section - Project 1 */
.hero--project_1 {
    height: 42svh;
}

.hero__name--project_1 {
    padding-top: 0;
}

/* ---------------------------------------------- Hero section - News */
.hero--news {
    height: 33svh;
}

/* ------------------------------------------------------------ Work */
.work {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 8rem;
}

.work__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.work__grid__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    background-color: var(--clr-light-grey);
    width: 45rem;
    aspect-ratio: 1;
}

.work__grid__box--start {
    background-image: url('../images/hackathon-1-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--mid {
    background-image: url('../images/hackathon-2-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--end {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__number {
    position: absolute;
    top: -6rem;
    right: 1rem;
}

.work__grid__title {
    display: none;
    background-color: var(--clr-light-grey);
    padding: 1.5rem;
}

.work__grid__text {
    background-color: var(--clr-light-grey);
    padding: 1.5rem;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(.37, 0, .45, .99);
}

.work__grid__box--start:hover p,
.work__grid__box--mid:hover p,
.work__grid__box--end:hover p {
    opacity: 1;
}

/* ---------------------------------------------- Project 1 */
.project__name {
    line-height: 0;
    padding-top: 1.75rem;
    letter-spacing: 0;
}

.hero--project_1 {
    height: 33svh;
}

.work__grid__box--img1 {
    background-image: url('../images/hackathon-1-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img2 {
    background-image: url('../images/hackathon-1-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img3 {
    background-image: url('../images/hackathon-1-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------------------------------------------- Project 2 */
.work__grid__box--img4 {
    background-image: url('../images/hackathon-2-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img5 {
    background-image: url('../images/hackathon-2-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img6 {
    background-image: url('../images/hackathon-2-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ---------------------------------------------- Project 3 */
.work__grid__box--img7 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img8 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work__grid__box--img9 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* ------------------------------------------------------------ About me */
.about-me {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.about-me__title__wrapper {
    position: relative;
}

.about-me__line {
    position: absolute;
    z-index: -1;
    border-bottom: 5px solid var(--clr-yellow);
    width: 70rem;
    left: -10rem;
    top: 7rem;
}

.about-me__text {
    width: 66%;
    padding: 4rem 0;
}

.about-me__flex-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 90%;
}

.about-me__flex {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.about-me__details__grid {
    display: grid;
    grid-template-columns: 25% 37.5% 37.5%;
    gap: 1.5rem;
    align-items: center;
    padding-left: 2rem;
}

.about-me__grid__title--1 {
    padding-bottom: 1.5rem;
}

.about-me__grid__title--2 {
    padding-bottom: 1.5rem;
    grid-column: 2 / 4;
}

.span-2__column {
    grid-column: 2 / 4;
}

.about-me__title--project1 {
    padding: 2rem 0;
}

.about-me__text--project1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.project1__links {
    align-self: center;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

/* ------------------------------------------------------------ News */
.news {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 12rem 8rem;
    margin-bottom: -3rem;
}

.news__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    z-index: 5;
    width: 100%;
}

.news__title {
    align-self: flex-start;
    color: var(--clr-light-grey);
}

.news__image {
    background-color: var(--clr-light-grey);
    width: 3325px;
    aspect-ratio: 1;
}

.news__image a {
    width: 100%;
    height: 100%;
    display: block;
}

.news__image img {
    object-fit: cover;
    width: 100%;
}

.news__wrapper {
    align-self: flex-start;
}

.news__subtitle {
    color: var(--clr-light-grey);
    margin: 2rem 0;
}

.news__text {
    color: var(--clr-light-grey);
}

.news__subtitle--dark,
.news__text--dark {
    color: var(--clr-dark-blue);
}

/* ------------------------------------------------------------ Footer */
.footer {
    position: relative;
    border-top: 5px solid var(--clr-yellow);
    z-index: 1;
}

.footer__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 6rem 8rem;
    color: var(--clr-light-grey);
    background-color: var(--clr-light-blue);
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

.footer-navigation__logo {
    margin-right: 2rem;
}

.footer__contact-links {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.footer__contact-links>a {
    color: var(--clr-light-grey);
}

.footer__contact-links>a:hover {
    color: var(--clr-yellow);
}

.footer__copyright {
    color: var(--clr-light-grey);
}

.button__text--lgrey {
    color: var(--clr-light-grey)
}

.footer__email {
    margin-top: 3.5rem;
}

/* --------------------------------------------------------------------------- Media Queries */
/* Animation */
.hidden {
    opacity: 0;
    filter: blur(7px);
    transform: translateY(5%);
    transition:
        all 850ms cubic-bezier(.37, 0, .45, .99);
}

.hiddenX {
    opacity: 0;
    filter: blur(7px);
    transform: translateX(-5%);
    transition:
        all 850ms cubic-bezier(.37, 0, .45, .99);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: 
        translate(0);
}

.hero__profile-img,
.hero__designer,
.work__grid__box--mid,
.about-me__flex:nth-child(2),
.news__text,
.news__image,
.project__name,
.about-me__title--project1,
.about-me__text--project1 {
    transition-delay: 150ms;
}

.hero__name,
.work__grid__box--end,
.news__subtitle {
    transition-delay: 250ms;
}

.news__text {
    transition-delay: 350ms;
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


/* XLarge screen */
@media (max-width: 1920px) {
    :root {
        /* Desktop font sizes */
        --font-size-xsmall: 1rem;
        --font-size-small: 1.5rem;
        --font-size-medium: 2.5rem;
        --font-size-mediumLarge: 4.8rem;
        --font-size-large: 7.5rem;
        --font-size-xlarge: 10rem;
    }

    /* ------------------------------------------------------ Hero Section */
    /* Hero Section Titles */
    .hero__designer {
        line-height: 4rem;
        padding-left: 3.6rem;
    }

    .hero__name {
        line-height: 3.5rem;
        padding-top: 3.5rem;
        letter-spacing: -0.43rem;
    }

    /* ------------------------------------------------------ Work Section */
    .work__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    .work__grid__box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        background-color: var(--clr-light-grey);
        width: 45rem;
        aspect-ratio: 1;
    }

    .work__grid__number {
        position: absolute;
        top: -4.8rem;
        right: 1rem;
    }

    .work__grid__text {
        padding-left: 1rem;
    }

    /* ------------------------------------------------------ News Section */
    .news {
        padding-top: 8rem;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-bottom: 12rem;
    }

    /* ------------------------------------------------------ Footer Section */
    .footer__navigation {
        padding: 5rem 8rem;
    }
}

/* Large screen */
@media (max-width: 1280px) {
    :root {
        /* Desktop font sizes */
        --font-size-xsmall: 1rem;
        --font-size-small: 1.3rem;
        --font-size-medium: 2.5rem;
        --font-size-mediumLarge: 3.2rem;
        --font-size-large: 5.5rem;
        --font-size-xlarge: 7.5rem;
    }

    /* ------------------------------------------------------ Hero Section */
    /* Hero Section Titles */
    .hero__designer {
        line-height: 3rem;
        padding-left: 2.5rem;
    }

    .hero__name {
        line-height: 2.4rem;
        padding-top: 2.4rem;
        letter-spacing: -0.2rem;
    }

    /* ------------------------------------------------------ Work Section */
    .work__grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        width: 100%
    }

    .work__grid__box {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        background-color: var(--clr-light-grey);
        width: 45rem;
        aspect-ratio: 1;
    }

    .work__title {
        position: absolute;
        rotate: -90deg;
        left: 1.5%;
    }

    .work__grid__number {
        position: absolute;
        top: -3.5rem;
        right: 1rem;
    }

    /* ------------------------------------------------------ About Section */
    .span-2__column {
        padding-left: 0.5rem;
    }

    .about-me__text {
        width: 100%;
    }

    /* ------------------------------------------------------ News Section */
    .news__title {
        left: 1.5%;
    }

    /* ------------------------------------------------------ Footer Section */
    .footer__navigation {
        padding: 5rem 8rem;
    }
}

/* Medium screen */
@media (max-width: 1120px) {
    :root {
        /* Desktop font sizes */
        --font-size-xsmall: 1rem;
        --font-size-small: 1.3rem;
        --font-size-medium: 2.5rem;
        --font-size-mediumLarge: 3.2rem;
        --font-size-large: 5.5rem;
        --font-size-xlarge: 7.5rem;
    }

    /* ------------------------------------------------------ Navigation Section */
    .primary-navigation {
        display: none;
    }

    .primary-navigation__logo {
        display: none;
    }

    .mobile-navigation {
        position: fixed;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 8rem;
        width: 100%;
    }

    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        font-size: 1.5rem;
        width: 2.5rem;
        aspect-ratio: 1;
        border: none;
        background: none;
    }

    .mobile-navigation__logo {
        display: block;
        padding: 1rem 0;
    }

    .mobile-navigation__list {
        display: block;
        position: fixed;
        z-index: 8999;
        inset: 0 0 0 0;

        background-color: var(--clr-dark-blue);
        backdrop-filter: blur(1.25rem);
        box-shadow: 0 0 0 rgba(31, 40, 49, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding-bottom: 10rem;

        font-size: var(--font-size-mobile-xsmall);

        transform: translateX(100%);
        transition:
            transform 500ms cubic-bezier(.37, 0, .45, .99),
            box-shadow 500ms cubic-bezier(.37, 0, .45, .99);
    }

    .mobile-navigation__list[data-visible="true"] {
        transform: translateX(0%);
        box-shadow: -1rem 0 1rem rgba(31, 40, 49, 0.1);
    }

    .primary-navigation__item {
        color: var(--clr-light-grey);
    }

    .active {
        color: var(--clr-light-blue);
    }

    .primary-navigation__contact {
        width: 10em;
        height: 3em;
    }

    .button__text {
        color: var(--clr-light-grey);
    }

    .mobile-navigation__list span {
        font-family: var(--font-family-secondary);
        font-weight: var(--font-weight-regular);
    }

    /* ------------------------------------------------------ Hero Section */
    .hero {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 93svh;
        padding-top: 8rem;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-bottom: 1rem;
    }

    .hero__profile-img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .hero--project_1,
    .hero--news {
        height: 40vh;
    }

    .hero__title__wrapper--news {
        align-items: center;
        justify-content: center;
    }

    /* ------------------------------------------------------ Work Section */
    .work__grid {
        flex-direction: column;
        gap: 8rem;
        width: 432.5px;
    }

    .work__grid__box {
        width: 100%;
    }

    .work__grid__number {
        top: -3.5rem;
    }

    /* ------------------------------------------------------ About Section */
    .about-me {
        padding: 4rem 8rem;
    }

    .about-me__line {
        left: -45rem;
        top: 4rem;
    }

    .about-me__flex-wrapper {
        flex-direction: column;
        gap: 4rem;
    }

    .about-me__details__grid {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
        align-items: flex-start;
    }

    /* ------------------------------------------------------ News Section */
    .news {
        padding-top: 4rem;
        padding-bottom: 7rem;
    }

    .news__grid {
        flex-direction: column;
        width: 100%;
    }

    .news__image {
        width: 432.5px;
    }

    /* ------------------------------------------------------ Footer Section */
    .footer__navigation {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .footer__contact-links {
        align-items: center;
        gap: 2rem;
    }

    .footer__email {
        margin-top: 0;
    }

    .footer-navigation__logo {
        margin: 0;
    }
}

/* Small screen */
@media (max-width: 720px) {
    :root {
        /* Desktop font sizes */
        --font-size-xsmall: 1rem;
        --font-size-small: 1.2rem;
        --font-size-medium: 2.5rem;
        --font-size-mediumLarge: 2.8rem;
        --font-size-large: 4.8rem;
        --font-size-xlarge: 5.5rem;
    }

    /* ------------------------------------------------------ General Section */
    .background__graph-paper {
        background-color: #fafafa;
        background-image:
            linear-gradient(var(--clr-dark-blue) 3px,
                transparent 0.2px),
            linear-gradient(90deg,
                var(--clr-dark-blue) 3px,
                transparent 0.2px);
        background-size: 2rem 2rem;
        background-position: center;
        z-index: -9999;
    }

    .diagonal-bg__vertical::after {
        position: absolute;
        content: '';
        background-color: var(--clr-light-grey);
        transform: skewX(-0.1deg);
        inset: 0;
        z-index: -8999;
        margin: 0 1.5rem;
    }

    /* ------------------------------------------------------ Navigation Section */
    .mobile-navigation {
        position: fixed;
        z-index: 7999;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2.5rem;
        width: 100%;
    }

    .mobile-nav-toggle {
        display: block;
        z-index: 9999;
        font-size: 1.5rem;
        width: 2.5rem;
        aspect-ratio: 1;
        border: none;
        background: none;
        transition: all 500ms cubic-bezier(.37, 0, .45, .99);
    }

    .mobile-navigation__logo {
        display: block;
        padding: 1rem 0;
    }

    .mobile-navigation__list {
        display: block;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 0;

        background-color: var(--clr-dark-blue);
        backdrop-filter: blur(1.25rem);
        box-shadow: 0 0 0 rgba(31, 40, 49, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding-bottom: 10rem;

        font-size: var(--font-size-mobile-xsmall);

        transform: translateX(100%);
        transition:
            transform 500ms cubic-bezier(.37, 0, .45, .99),
            box-shadow 500ms cubic-bezier(.37, 0, .45, .99);
    }

    .mobile-navigation__list[data-visible="true"] {
        transform: translateX(0%);
        box-shadow: -1rem 0 1rem rgba(31, 40, 49, 0.1);
    }

    .primary-navigation__item {
        color: var(--clr-light-grey);
    }

    .active {
        color: var(--clr-light-blue);
    }

    .primary-navigation__contact {
        width: 10em;
        height: 3em;
    }

    .button__text {
        color: var(--clr-light-grey);
    }

    .mobile-navigation__list span {
        font-family: var(--font-family-secondary);
        font-weight: var(--font-weight-regular);
    }

    /* ------------------------------------------------------ Hero Section */
    .hero {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 7rem;
        padding-left: 2rem;
        padding-right: 2rem;
        height: 92svh;
    }

    .hero__profile-img {
        object-fit: cover;
    }

    .hero__designer {
        line-height: 2.5rem;
        padding-left: 2.1rem;
    }

    .hero--project_1,
    .hero--news {
        height: 40svh;
    }

    /* ------------------------------------------------------ Work Section */
    .work__grid {
        flex-direction: column;
        gap: 4rem;
        width: 302.5px;
    }

    .work__grid__box {
        width: 100%;
    }

    .work__grid__number {
        top: -3rem;
    }

    /* ------------------------------------------------------ About Section */
    .about-me {
        padding: 2.5rem;
    }

    .about-me__line {
        left: -45rem;
        top: 4rem;
    }

    .about-me__flex-wrapper {
        flex-direction: column;
        gap: 4rem;
    }

    /* ------------------------------------------------------ News Section */
    .news {
        padding-top: 4rem;
        padding-bottom: 7rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .news__grid {
        flex-direction: column;
        width: 100%;
    }

    .news__image {
        width: 302.5px;
    }

    /* ------------------------------------------------------ Footer Section */
    .footer__navigation {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        padding: 3rem 1.5rem;
    }

    .footer__contact-links {
        align-items: center;
        gap: 2rem;
    }

    .footer__email {
        margin-top: 0;
    }

    .footer-navigation__logo {
        margin: 0;
        order: 2;
    }

    .footer__copyright {
        order: 1;
    }
}