/* Custom Properties */
:root {
    /* Colours */
    --clr-dark-blue: #1F2831;
    --clr-light-blue: #6A98A5;
    --clr-yellow: #F6CC80;
    --clr-light-grey: #F6F0F0;

    /* Font family */
    --font-family-primary: font-family: 'Lora', serif;
    --font-family-secondary: font-family: 'Quattrocento', serif;

    --font-family-heading: var(--font-family-primary);
    --font-family-body: var(--font-family-secondary);

    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /* Desktop font sizes */
    --font-size-xsmall: 1rem;
    --font-size-small: 1.8rem;
    --font-size-medium: 2.6rem;
    --font-size-mediumLarge: 7.5rem;
    --font-size-large: 9.5rem;
    --font-size-xlarge: 12rem;

    --font-size-mobile-xsmall: 1.5rem;
    --font-size-mobile-large: 5rem;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Quattrocento:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

html,
body {
    height: 100%;
}

/* Remove default margin in favour of better control in authored CSS */
* {
    margin: 0;
    padding: 0;
    font: inherit;
    text-decoration: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* --------------------------------------------------------------------------- General */
/* Hidden from visual users - available to SR */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}

body {
    background: #fff;
}

/* ------------------------------------------------------------ Navigation */
.primary-navigation {
    position: fixed;
    z-index: 9000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    margin-top: 1.5rem;
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

/* Navigation Logo */
.primary-navigation__logo {
    margin-right: 2rem;
}

/* Navigation list */
.primary-navigation__list {
    display: flex;
    padding-top: 0.75rem;
    gap: 7.25rem;
}

.primary-navigation__item {
    /* padding-inline:  calc(var(--_gap) / 2); */
    position: relative;
    letter-spacing: normal;
    transform-origin: center bottom;
    height: var(--font-size-small);
    display: inline-block;
    overflow: hidden;
    color: var(--clr-dark-blue);

    /* transition: 
        letter-spacing 500ms cubic-bezier(.37,0,.45,.99); */
}

.active {
    color: var(--clr-light-blue);
}

/* Navigation List__item rotate hover effect */
.primary-navigation__item:hover .letter,
.primary-navigation__item.play .letter {
    transform: translateY(-100%);
}

.primary-navigation__item .block:last-child {
    color: var(--clr-yellow)
}

.primary-navigation__item .letter {
    display: inline-block;
    transition:
        transform 500ms cubic-bezier(.37, 0, .45, .99);
}

.letter:nth-child(1) {
    transition-delay: 0ms;
}

.letter:nth-child(2) {
    transition-delay: 25ms;
}

.letter:nth-child(3) {
    transition-delay: 50ms;
}

.letter:nth-child(4) {
    transition-delay: 65ms;
}

.letter:nth-child(5) {
    transition-delay: 70ms;
}

/* Navigation List__Underline hover effect */
/* .primary-navigation__item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.75rem;
    height: 5px;
    width: 100%;
    background-color: var(--clr-yellow);

    scale: var(--_scale, 0) 1;
    transition: 
        scale 500ms cubic-bezier(.37,0,.45,.99) var(--_scale-delay, 0ms),
        translate 500ms cubic-bezier(.37,0,.45,.99);
}

.primary-navigation__item:hover {
    --_scale: 1;
    letter-spacing: 0.1rem;
} */

/* Navigation Contact */
.primary-navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid var(--clr-yellow);
    width: 12em;
    height: 4em;
    border-radius: 50%;
    rotate: 5deg;

    scale: 1;
    letter-spacing: normal;
    transform-origin: bottom center;

    transition:
        scale 500ms cubic-bezier(.37, 0, .45, .99),
        letter-spacing 500ms cubic-bezier(.37, 0, .45, .99);
}

.button__text {
    rotate: -5deg;
}

.primary-navigation__button:hover {
    scale: 1.1;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.mobile-navigation__list {
    display: none;
}

.mobile-navigation__logo {
    display: none;
}

.mobile-nav-toggle {
    display: none;
}

/* --------------------------------------------------------------------------- Hero Section */
.hero {
    position: relative;
    height: 92vh;
    padding-top: 5rem;
}

.hero__title__wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 48.3rem;
    width: 100%;
    padding-top: 8rem;
    padding-right: 10.4rem;
    z-index: 3;
}

.hero__name__wrapper {
    position: absolute;
    bottom: 13%;
    z-index: 4;
    width: 100%;
    padding: 0 8rem;
}

/* Hero Section Image */
.hero__profile-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 8rem;
    z-index: 1;
}

.hero__profile-img > img {
    filter: opacity(0.9);
    height: 40rem;
}

.hero__yellow-square {
    position: absolute;
    bottom: 20.5rem;
    rotate: -5deg;
    border: 5px solid var(--clr-yellow);
    width: 26rem;
    height: 40rem;
    transition: rotate 1s cubic-bezier(.37, 0, .45, .99);
    z-index: 2;
}

.hero__yellow-square:hover {
    rotate: 5deg;
}

/* Hero Section Titles */
.hero__title {
    font: var(--font-family-heading);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
    line-height: 7rem;
    mix-blend-mode: difference;
}

.hero__designer {
    letter-spacing: -0.2rem;
    padding-left: 6.6rem;
}

.hero__name {
    font: var(--font-family-heading);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-medium);
    line-height: 7rem;
    text-align: end;
}

.hero__name--small {
    display: none;
}

.hero__name--full {
    display: block;
}

/* ------------------------------------------------------------ Work */
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light-blue);
    padding: 8rem 8rem;
}

.work__grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 33%);
    align-items: center;
    justify-items: center;
}

.work__grid__box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 1rem;
    background-color: var(--clr-light-grey);
    width: minmax(28rem, 31rem);
    aspect-ratio: 1;
}

/* .work__grid__box--start {
    justify-self: end;
}

.work__grid__box--end {
    justify-self: start;
} */

.work__title {
    position: absolute;
    rotate: -90deg;
    left: -3rem;
    color: var(--clr-dark-blue);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-mediumLarge);
    font-weight: var(--font-weight-bold);
}

.work__grid__number {
    position: absolute;
    top: -5.5rem;
    right: 1rem;
    color: var(--clr-dark-blue);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.work__grid__title {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-body);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}

.work__grid__text {
    color: var(--clr-dark-blue);
    font-family: var(--font-family-body);
    font-size: var(--font-size-xsmall);
    font-weight: var(--font-weight-regular);
    padding-left: 1rem;
}

/* ------------------------------------------------------------ Footer */
.footer__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    color: var(--clr-light-grey);
    background-color: var(--clr-light-blue);
    font: var(--font-family-body);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xsmall);
}

.footer__contact-links {
    display: flex;
    flex-direction: column;
    align-items: start;

}

.footer__contact-links > a {
    color: var(--clr-light-grey);
}

.footer__copyright {
    align-self: self-end;
}

/* --------------------------------------------------------------------------- Media Queries */
@media (width < 720px) {

    /* ------------------------------------------------------------ Navigation */
    .primary-navigation {
        display: none;
    } 

    .primary-navigation__logo {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        font-size: 1.5rem;
        width: 2.5rem;
        aspect-ratio: 1;
        top: 2.5rem;
        right: 2.5rem;
        border: none;
        background: none;
    }

    .mobile-navigation__logo {
        display: block;
        padding: 1rem 1rem;
    }

    .mobile-navigation__list {
        display: block;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 -5%;

        background-color: var(--clr-dark-blue);
        backdrop-filter: blur(1.25rem);
        box-shadow: 0 0 0 rgba(31, 40, 49, 0.1);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        padding-bottom: 10rem;

        font-size: var(--font-size-mobile-xsmall);

        transform: translateX(100%);
        transition: 
            transform 500ms cubic-bezier(.37, 0, .45, .99),
            box-shadow 500ms cubic-bezier(.37, 0, .45, .99);
    }

    .mobile-navigation__list[data-visible="true"] {
        transform: translateX(0%);
        box-shadow: -1rem 0 1rem rgba(31, 40, 49, 0.1);
    }

    .primary-navigation__item {
        color: var(--clr-light-grey);
    }

    .active {
        color: var(--clr-light-blue);
    }

    .primary-navigation__contact {
        width: 8em;
        height: 3em;
    }

    .contact__text {
        color: var(--clr-light-grey);
    }

    /* --------------------------------------------------------------------------- Hero Section */
    .hero {
        height: 80vh;
    }

    /* Hero Section Image */
    .hero__title__wrapper {
        position: absolute;
        bottom: 6%;
        z-index: 4;
    }

    .hero__profile-img {
        z-index: 2;
        width: 20rem;
        bottom: -22%;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hero__yellow-square {
        position: absolute;
        bottom: 0;
        rotate: 15deg;
        border: 5px solid var(--clr-yellow);
        width: 20rem;
        height: 33rem;
        z-index: 3;
    }

    /* Hero Section Titles */
    .hero__title {
        font: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-mobile-large);
        line-height: 4rem;
        mix-blend-mode: difference;
    }

    .hero__designer {
        letter-spacing: 0.4rem;
    }

    .hero__name {
        font: var(--font-family-heading);
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-mobile-large);
        line-height: 5.25rem;
        padding-right: 0.4rem;
        text-align: end;
    }

    .hero__name--full {
        display: none;
    }

    .hero__name--small {
        display: block;
    }
}